*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}
.bg-login-image-new {
    background: url(../img/massaging-face.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h6.text-center.admin_error{
    background-color: red;
    color: white;
    padding: 10px 40px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
}
p{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    line-height: 28px;
}
/*  Header CSS  */
.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 30px!important;
    color: #e84e3d!important;
}
.navbar-brand:hover{
    color: black;
}
.navbar-bg{
  background-color: white!important;
}
nav.navbar.navbar-expand-lg.navbar-bg {
 height: 100px;
 box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
 border-bottom: 1px solid rgb(149 157 165/20%);
}
.nav-link{
    margin: 0 10px;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    color: black;
}
 
.search{
      border: 2px solid #e84e3d;
      height: 45px;
      border-radius: 30px;
      width: 250px;
      padding: 0 15px;
  }  
  .btn0{
    border: 2px solid #e84e3d;
    height: 45px;
    width: 100px;
    border-radius: 30px; 
    margin-left: -100px;
    background-color: #e84e3d;
    color: white;
    font-size: 18px;
    font-weight: 500;
  
  }
  button#dropdownMenuButton1 {
    background: transparent;
    color: black;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
}

/*  Hero section CSS */

.btnSee{
    background-color: #e84e3d;
    border-radius: 50px;
    border: none;
    height: 60px;
    width: 200px;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    margin: 30px 0;
}
.btnSee a{
    text-decoration: none;
    color: white;
}
.title{
    font-size: 58px;
    color: black;
    font-weight: bolder;
}
.bg-hero{
    background-image: url('../image/hero-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}
.rowHeight{
    height: 80vh;
}
.carousel-inner{
    height: 80vh;
}
.blue{
    background-color: blue;
}
@media(min-width: 576px) and(max-width: 767px){
    .rowHeight{
        height: 100vh;
    }
}

/* Categories Section CSS */

.catItem {
    padding: 10px;
    margin: 10px 5px;
    box-shadow: rgb(149 157 165 / 15%) 0px 8px 24px;
    background: #00968842;
    border-radius: 15px;
}
.txt{
    margin: 15px 0;
}
.foodImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.catHeight{
    padding: 30px 0;
}
.txtD{
    height: 150px;
}
.card {
    background: #ff000036!important;
    border: none!important;
    border-radius: 0!important;
}
img.card-img-top.img-fluid {
    padding: 10px;
}
 
/* Demo Food */

a.btn.btn-btnnew {
    background: #e84e3d;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    color: white;
}

/* Footer CSS*/

.footerHeight {
    height: 500px;
    background-color: #e84e3d;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* New Css  */


/* Primary Setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
colgroup{
    
    color: #27ae60; 
    color: #2c3e50; 
    color: #e84e3d;  
    color: #7f8c8d; 
    color: #f1c40f; 
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 70.2px;
    font-weight: 700;
    color: #2B2B2B;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 61.92px;
    font-weight: 800;
    color: white;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    color: #F6A220;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    color: #2B2B2B;
}
h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
    color: #2B2B2B;
}
h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 25.56px;
    font-weight: 600;
    color: #2B2B2B;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25.56px;
    font-weight: 600;
    color: #2B2B2B;
}

/* Header Design */

#header {
    background-color: #27ae5f94;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#logo {
    font-size: 35px;
    color: white;
    font-family: 'Creepster', cursive;
}

#subTxt {
    margin-left: -5px;
    font-family: 'Yellowtail', cursive;
    color: #e84e3d;
}
nav.navbar.navbar-expand-lg.navbar-light {
    height: 80px;
 }
a.nav-link {
   color: white!important;
 }

 /* Hero Section CSS */
 #heroimg{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.rowHeight{
    height: 600px;
}
#heroSection{
    height: 80vh;
    background-image: url('../image/food/bgBlur.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#titleSec{
    height: 60vh;
    background-image: url('../image/food/bgBlur.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.foodtxt h2 {
    font-size: 60px;
    color: white;
    font-weight: 600;
}
/* Responsive Section */
@media(max-width: 575px){
    #heroSection{
    height: 100vh;
   
 }
}
@media(min-width: 576px) and (max-width: 767px){
    #heroSection{
    height: 100vh;
   
 }
}
@media(min-width: 768px) and (max-width: 991px){
     
}

 /* Global Button */
 button#btn0{
     background-color: transparent;
     border: none;
     border-radius: 50px;
     height: 45px;
     width: 150px;
     border: 2px solid white;
     color: #2c3e50;
     font-weight: 700;
 }
 button#btn0:hover{
     background-color: #e84e3d;
     border: none;
     color: white;
 }
 button#btn1{
    background-color: transparent;
    border: none;
    border-radius: 50px;
    height: 45px;
    width: 150px;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    margin: 20px 0;
}
button#btn1:hover{
    background-color: #e84e3d;
    border: none;
    color: white;
}
button#btn2{
    background-color: #e84e3d;
    border: none;
    border-radius: 50px;
    height: 45px;
    width: 150px;
    border: none;
    color: white;
    font-weight: 700;
    margin: 20px 0;
}
button#btn2:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
 
